html {
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}
body {
  height: 100%;
  width: 100%;
}

body div {
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  margin: 0;
  padding: 0;
}

body form {
  margin-top: 10px;
}

#root {
  background-color: blanchedalmond;
}

.metacontainer div {
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}

.metacontainer .metarow div {
  display: inline-block;
}

.metacontainer .title-col {
  width: 150px;
}
