html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
}

body div {
  margin-top: 10px;
}

body form {
  margin-top: 10px;
}

#root {
  background-color: blanchedalmond;
}

.metacontainer div {
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}

.metacontainer .metarow div {
  display: inline-block;
}

.metacontainer .title-col {
  width: 150px;
}
